// 侧边栏宽度
$sidebar-width: 80px;

.Page-SiderBar {
  background-color: rgba(38, 45, 71, 1);
  height: 100%;
  width: $sidebar-width;
  > .item {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    position: relative;
    width: $sidebar-width;
    &::before {
      background-color: transparent;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      width: 5px;
    }
    &.active {
      &::before {
        background-color: rgba(118, 117, 247, 1);
      }
    }
    > .svg {
      color: red;
      height: 30px;
      width: 30px;
    }
  }
}
