.Page-HeaderBar {
  align-items: center;
  background-color: rgb(49, 97, 149);
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  // -webkit-app-region: drag;
  -webkit-app-region: no-drag;
  .icon-title {
    align-items: center;
    display: flex;
    height: 100%;
  }
  .toolbar {
    align-items: center;
    display: flex;
    height: 100%;
    ._svg-icon {
      height: 20px;
      width: 20px;
    }
  }
}
